<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="#">
<meta charset="utf-8">

	</head>
	<body><style type="text/css">
        .header {
		font-size : 150%;
		}
    </style>
		<h1 class="header">
			딩굴댕굴 사전이용 동의서 이용 약관
		</h1>
		<hr>
		<div class="title">
<ul>
		<p>
			아래 내용은 위탁 동물을 돌보는 이와 위탁 보내는 이와의 상기견에 대한 위탁 관련 협의 계약 내용임

			위탁 보내는 자, 즉 “견주”이라 함은 이 약관에 동의하여

			소기업과 아래 계약 등에 대한 이용계약을 체결하고

			소기업 에서 제공하는 서비스 등을 이용할 수 있는 권한을 획득한 자를 의미합니다.</p><p>


			위탁 기간은 위 내용과 같이 정하며 견주의 요청에 따라 연장할 수 있다.</p><p>

			 추가 작성 없이 본 계약서의 효력은 위탁 만료 시점까지로 본다.</p><p>

			사료 및 간식은 위탁받은 이가 급여하며, 다른 급여를 원할 시 그에 소요되는 경비 와 책임은 위탁 보낸 견주가 책임진다.</p><p>

			본 계약에서 정하지 않은 사항이나 해석상의 이의를 불러일으키는 사항에 대해서는 상호 간의 우호적인 협의로 해결한다.

		</p>
			</ul>
		</div>

		<hr>
		<div class="1">
			<h2>
			① 계약의 목적
		</h2>
<ul>
		<p>

		이 계약은 위탁을 보내는 견주의 필요에 따라 위탁 애견을 위탁받는 이에게 돌봄을 요청하며 위탁을 보내는 견주와 위탁자 간의 본 계약 내용을 바탕으로 상호신뢰와 믿음으로 아래 각 사항을 준수한다.</p><p>
		호텔링은 1박2일 이상 위탁하는 서비스이다.</p><p> 놀이방은 입실시간기준 1시간 이상 위탁하는 서비스이다.</p><p> 유치원은 정해진 횟수에 맞춰 이용가능한 서비스이다.</p><p>

			☆ 놀이방 이용중 부득이 견주의 사정으로 인하여 호텔링 서비스로 변경시 요금은 변경 요청 시점으로 결산 후 호텔링 서비스로  변경 가능하다</p>
</ul>

		</div>


		<div class="2">
			<h2>
			② 위탁 비용
		</h2>

		<ul>
<li>
		<p>위탁 비용은 선지급이고 고시한 금액 ( 부과세 별도, 0.1~4.9kg 25,000원/ 5~9.9kg 30,000원/10~15kg 35,000원  )에 따라 결정되며 위탁 비용은 24시간 기준으로 하며,
		그 이후 초과 시간은 놀이방 요금에 따라 추가 과금한다. (단 20시 이후에는 퇴실 불가)</p></li><br>

<li>
<p>3일 이상 견주가 연락이 없거나 위탁 비용을 미 입금시 위탁 보내는 견주는 상기 견에 대한 소유권을 포기하며 위탁받는 이에게 상기 견의 모든 소유권을 인정, 최종 동물 보호시설로 이첩 함에 동의하는 것으로 한다.</p></li></ul>

		</div>
		<hr>
		<div class="3">
			<h2>
				③ 질병 발생 및 건강 관리
			</h2>
			<ul>

				<li>

			<p> 위탁 받은이는 관리에 소홀함이 없어야 하며, 중요 질병사고 발생시 선조치후 위탁 견주에게 즉시 고지하며,  위탁 받는이의 고의 인한 사고는 위탁 받는 이가 책임지며, 호텔비 전액 환불조치 및 치료비 일체를 지급한다(단 치료는 위탁 받는이의 지정 병원에 진료한다. )</p></li>
				<li>
			<p> 위탁 보낸 견주의 불고지로 인한 질병 및 위탁견으로 인한 사고는 위탁 보낸 견주가 책임진다.</p><br></li>
				<li>
			<p> 질병 보유견은 위탁 할 수 없으며, 미세한 피부병,호흡기 질환 보유견은 위탁 가능하나 추후 치료에 대한 책임과 경비는 위탁 보낸 견주가 부담한다.</p><br> </li>
				<li>
			<p> 접종이 안된 견은 위탁 할 수 없으나, 부득이 위탁을 원할 경우 접종으로 인한 모든 질병에 대해서는 위탁보낸이가 책임진다.</p><br></li>
				<li>

			<p> 위탁 보내는 견주는 위탁받는이에게 상기견에 대한 견종,나이,성별,견명,질병경력등 특이사항을 상기견의 특징에 대해 충분히 설명해야하며 누락시 발생하는 사고 및 질병에 대해 위탁보낸 견주가 책임을 진다.</p>
</li>
			</ul>




</div>
	</body>
</html>