{% extends "public_base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'reservation/css/public_base.css' %}">
<link rel="stylesheet" href="{% static 'reservation/css/signature.css' %}">
{% endblock %}


{% block content %}
<div class="agreement-container">
    <h1>서비스 이용 동의서</h1>
    <p>안녕하세요 {{ customer.name }}님, 서비스를 이용하시기 위해 아래 내용을 확인하시고 서명해 주세요.</p>

    <div class="agreement-box">
        <p>📌 본 애견호텔 서비스는 고객님의 소중한 반려견을 안전하고 따뜻하게 보호하기 위해 최선을 다합니다.<br></p>
        <p>📌 <a href="{% url 'customer:Terms' %}">딩굴댕굴 사전이용 동의서 이용 약관안내</a>를  모두 확인하였으며,  서명을 할 경우 이에 동의하는 것으로 간주합니다. </p>
    </div>
    {% if recent_reservations %}
    <div class="recent-box">
        <h4>📌 최근 이용 이력</h4>
        <ul>
            {% for r in recent_reservations %}
            <li>
                <strong>{{ r.dog.name }}</strong> ({{ r.dog.breed }})<br>
                🗓 {{ r.check_in|date:"Y년 m월 d일 H:i" }} ~ {{ r.check_out|date:"m월 d일 H:i" }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h3 class="mt-4">✍️ 서명해주세요</h3>
    <canvas id="signature-pad" width="400" height="400" style="border: 1px solid #ccc;"></canvas>

    <form method="POST" action="{% url 'customer:agreement_submit' %}?token={{ customer.token }}">
        {% csrf_token %}
        <input type="hidden" name="signature" id="signature-field">
        <button type="submit" class="submit-btn">서명 완료하고 예약하러 가기</button>
    </form>
</div>

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script src="{% static 'reservation/js/signature.js' %}"></script>
{% endblock  %}


{% endblock %}